header {
  grid-area: hd;
}

main {
  grid-area: main;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    'hd'
    'main';
}

body {
  background-color: #212121;
}

h1 {
  color: white;
  margin: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
}

p {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

form {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

ul {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

fieldset {
  list-style-type: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

#logo img {
  width: 20%;
}

#poster img {
  width: 20%;
  margin-left: 30px;
  margin-right: 30px;
}

table {
  color: white;
  border-color: white;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
